body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre, 
form,fieldset,figure,input,textarea,p,blockquote,th,td { 
    padding: 0; 
    margin: 0; 
}
html{
    font-size: 32px;
}
body{
    font-family:"Helvetical Neue",helvetica,STHeiTi,sans-serif;
}
table { 
    border-collapse: collapse; 
    border-spacing: 0; /*只适用于边框分离模式*/
} 
select,input{
    font-family:"Helvetical Neue",helvetica,STHeiTi,sans-serif;
}
address,caption,cite,code,dfn,em,strong,th,var { 
    font-weight: normal; 
    font-style: normal; 
} 
ol,ul { 
    list-style-type: none; 
} 
caption,th { 
    text-align: left; 
} 
h1,h2,h3,h4,h5,h6 { 
    font-weight: normal; 
    font-size: 100%;/*父元素字体大小的百分比*/ 
}
a{
    font-family:"Helvetical Neue",helvetica,STHeiTi,sans-serif;
    text-decoration: none;
    color:#333;
    -webkit-tap-highlight-color:transparent;/*去除点击高亮*/
}

